doctype xml
contrevenants
  each contrevenant in contrev.contrevenants
    contrevenant
      proprietaire #{contrevenant.proprietaire}
      etablissement #{contrevenant.etablissement}
      adresse #{contrevenant.adresse}
      ville #{contrevenant.ville}
      description #{contrevenant.description}
      date_infraction #{contrevenant.date_infraction}
      date_jugement #{contrevenant.date_jugement}
      montant #{contrevenant.montant}