doctype xml
contrevenants
  if contrevenants.length
  each c in contrevenants
    contrevenant
      proprietaire #{c.proprietaire}
      etablissement #{c.etablissement}
      adresse #{c.adresse}
      ville #{c.ville}
      description #{c.description}
      date_infraction #{c.date_infraction}
      date_jugement #{c.date_jugement}
      montant #{c.montant}